.loader {
  width: 0;
  transition: width 200ms ease-in;
  animation: rotate 400ms linear 0s infinite forwards;
}

.loader.active {
  width: 24px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}